
/*---- FONTS ------------*/
@import url(http://fonts.googleapis.com/css?family=Poiret+One);
@import url(http://fonts.googleapis.com/css?family=Playball);
@import url(http://fonts.googleapis.com/css?family=Pinyon+Script);

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-envelope, .icon-menu, .icon-facebook, .icon-twitter, .icon-cart, .icon-magnifying-glass {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
/*
.icon-envelope:before {
	content: "\65";
}
.icon-menu:before {
	content: "\6d";
}
.icon-facebook:before {
	content: "\66";
}
.icon-twitter:before {
	content: "\74";
}
.icon-cart:before {
	content: "\63";
}
.icon-magnifying-glass:before {
	content: "\73";
}
*/


/* Global
-------------------------------------------------------------- */


body {
	font-family: 'Helvetica Neue Light', sans-serif;
	font-weight: 100;
	font-size: 1.125em;
	line-height: 2em;
	color: #5f3e10;
	margin: auto;
	background-color: #f9f9f9;

}
body img {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  -o-user-select: none;
  user-select: none;
}
header{
	background: #f9f9f9 url('../imgs/header_bg.jpg') repeat-x;

}

h1{
	font-family: 'Pinyon Script', cursive;
	font-size: 2.5em;
	line-height: 1.5em;
	font-weight: 500;

	}

h2{
	font-family: 'Pinyon Script', cursive;
	font-size: 3em;
	line-height: 1.5em;
	font-weight: 500;
}

h3{
	font-family: 'Playball', cursive;
	font-size: 2.5em;
	line-height: 1.5em;
	font-weight: 100;

}
h4{
	font-family: 'Poiret One', cursive;
	font-size: 1.875em;
	font-weight: 200;
	line-height: 1.5em;

}

h5{
	font-family: 'Playball', cursive;
	font-size: 2.25em;
	line-height: 1.5em;
}

img, object{
	max-width: 100%;
}

 .whiskyIntro .medium,  .whiskyIntro .small, .whiskyIntro .hd{
	display: none;
}

 .specialSale .medium,  .specialSale .small, .specialSale .hd{
	display: none;
}

 .specialSale2 .medium,  .specialSale2 .small, .specialSale2 .hd{
	display: none;
}
.pointer-events{
	pointer-events: none;
}
.mouse-events{
	display:block;
}
.mouse-events:hover{
	font-family: 'Poiret One', cursive;
}


/* Navigation
-------------------------------------------------------------- */
.horisontalNav{
			-moz-user-select: none;
			-webkit-user-select: none;
			-ms-user-select:none;
			outline: none;
			border:0;

}
.horisontalNav ul{
	max-width: 1000px;
	list-style: none;
	margin: auto;
	position: relative;
	top: -105px;
	left: 50px;
	}
.horisontalNav ul li{
	float: left;
	}


 a{
	color:#f9f9f9;
	font-family: 'Poiret One', cursive;
	font-weight: bold;
}

 a:visited{
	color: #f9f9f9;
}
 a:hover{
 	font-family: 'Helvetica Neue Light', sans-serif;
	color: #4c1106;
}

li[class~="active"] a{
 	font-family: 'Helvetica Neue Light', sans-serif;
	color: #4c1106;
}

.horisontalNav ul li:nth-child(1) {
		width: 11%;
	}
.horisontalNav ul li:nth-child(2) {
		width: 11%;
	}
.horisontalNav ul li:nth-child(3) {
		width: 46%;
	}
.horisontalNav ul li:nth-child(4) {
		width: 11%;
	}
.horisontalNav ul li:nth-child(5){
		width: 10%;
	}
.horisontalNav ul li:nth-child(6){
		width: 5%;
		margin-top: 1%;
	}
.horisontalNav ul li:nth-child(7){
	width: 4%;
	margin-top: 1%;
}


#slideLeft, .menu{
			display: none;
			border: 0;
		}


#logo{
	width: 360px;
	position: relative;
	margin-top: -1%;
	margin: auto;
	z-index: 10;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select:none;
	outline: none;
	border: 0;

}

.svg{
	display: block;
	border: 0;
}
.svg:hover{
	display: block;
	border: 0;
	font-family: 'Poiret One', cursive;
}
#logo .pointer{
		pointer-events: none;
		border: 0;
}

.breadcrumb a{
	color:#855716;
}
.horisontalNav ul li .svg_link{
	color: #f9f9f9;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select:none;
	outline: none;
	}
.horisontalNav ul li .svg_link:hover{
	color: #4c1106;
	}
.horisontalNav ul li .svg_active{
	color: #4c1106;
	}

/*  Main Page Content
-------------------------------------------------------------- */

/* 	Slider */
section{
	z-index: 1;

}

.slider {
	background: #f9f9f9;
    position: relative;
    overflow: hidden;
    top:-100px;
    z-index: 1;
}
.slider .sliderWrapper {
    display: none;
}
.slider .sliderWrapper article {
    position: relative;
    text-align: center;
}
.slider .sliderWrapper article img {
    max-width: 100%;
    width: auto;
    height: auto;

}


/* Default Skin */

.sliderPrev, .sliderNext {
    position: absolute;
    width: 40px;
    height: 40px;
    text-indent: -9999px;
    background: url('../imgs/sprites.png') no-repeat 0 0;
    top: 50%;
/*     margin-top: -60px; */
    z-index: 2;
    -moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select:none;
	cursor: pointer;
	outline: none;


}
.sliderPrev {
    background-position: 100% 0;
    left: 20px;
}
.sliderNext {
    right: 20px;
}
.sliderPagination {
    z-index: 2;
    position: absolute;
	left: 48%;
	bottom: 3%;
 }
.sliderPagination li {
    float: left;
    margin: 0 5px 0 0;
    list-style-type: none;
}
.sliderPagination a {
    display: block;
    text-indent: -9999px;
    width: 10px;
    height: 10px;
    background: #855716;
    border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
    -moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select:none;
	cursor: pointer;
	outline: none;


}
.sliderPagination a.slideActive {
    background: #4c1106;
    border: 1px solid #855716;
}

   /* Slides */
.whiskyIntro{
	background:  url('../imgs/slider1.jpg') no-repeat;
				 -webkit-background-size: cover;
				 -moz-background-size: cover;
				 -o-background-size:  cover;
				 background-size: cover;

	height: 510px;

}

.specialSale{
	background:  url('../imgs/slider2.jpg') no-repeat;
				 -webkit-background-size: cover;
				 -moz-background-size: cover;
				 -o-background-size:  cover;
				 background-size: cover;

	height: 510px;

}

.specialSale2{
	background:  url('../imgs/slide3.jpg') no-repeat;
				 -webkit-background-size: cover;
				 -moz-background-size: cover;
				 -o-background-size:  cover;
				 background-size: cover;

	height: 510px;

}


.whiskyIntro h1, .specialSale h1, .specialSale2 h1{
	margin: 8% 0 0 20%;
	font-size: 2.5em;
	background: rgb(249, 249, 249); /* The Fallback */
	background: rgba(249, 249, 249, 0.5);

}
.whiskyIntro h3, .specialSale h3, .specialSale2 h3{
	margin: 0 0 0 20%;
	font-size: 2em;
	 background: rgb(249, 249, 249); /* The Fallback */
     background: rgba(249, 249, 249, 0.5);
}
.whiskyIntro img{
	position: absolute;
	top:3%;
	left:17%;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select:none;
	outline: none;
}

.specialSale img{
	position: absolute;
	top:3%;
	left:10%;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select:none;
	outline: none;
}

.specialSale2 img{
	position: absolute;
	top:3%;
	left:10%;
}


.view_collection{
	display: inline-block;
	width: 231px;
	height: 36px;
	position: relative;
	top: 5%;
	left: 10%;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select:none;
	cursor: pointer;
	outline: none;
	background: url('../imgs/view_collection.png') no-repeat;
	font-size: 1em;
}


/*------Video ----------*/
.mov_bg{
	position: relative;
	width: 100%;
	height: 540px;
	 margin: auto;
	 padding: 0;
	 z-index: 20;
	 text-align: center;


}
#video-container{
	text-align: center;
	margin-top: -100px;
		background: url('../imgs/mov_bg1.jpg') repeat-x top left;
		 -webkit-background-size: contain;
		 -moz-background-size: contain;
		 -o-background-size:  contain;
		 background-size: contain;

}
#video{
	width: 960px;
	height: 540px;
	margin: 20px 0 20px 0;
	-webkit-box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.5);

}
#video-container-s, #video-container-m{
	display: none;
}

/*------- Devider ------*/

.devider{
padding:80px 0 50px 0;
}

/*----PRODUCT------*/

.description{
	text-align: center;
	margin-left: 2%;
}
.description h2{
	text-align: center;
	margin:0 0 0 2%;
}
.product img{
margin: -15% 0 20% 0;
}
.productDevider{
	padding: 0 0 20% 0;
}
.read_more{
	width: 80px;
	height: 80px;
	background: #855716 url('../imgs/over.gif') no-repeat;
	  -webkit-border-radius: 40px;
	  -moz-border-radius: 40px;
	  border-radius: 40px;
	  text-align: center;
	  	font-size: 0.9em;
		line-height: 1em;
		display: inline-block;
		padding-top: 20px;
		 background-position:0 -80px;
	/* 		  background-clip:border-box; */
		 -webkit-transition:background-position 1s;
	    -moz-transition:background-position 1s;
	    -o-transition:background-position 1s;
	    transition:background-position 1s;
    -moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select:none;
	outline: none;

}


.read_more:hover{
	color:#855716;
	font-family: 'Poiret One', cursive;
	font-weight: bold;
	background-position:0 0;
}

.collection_link{
	width: 231px;
	height: 36px;
	text-align: center;
  	font-size: 1em;
	line-height: 1em;
	display: inline-block;
	padding-top: 6px;
	/* 	fallback for not support in multiple browsers */
	background: url('../imgs/view_collection.gif') no-repeat;
	/* end fallback */
	background: url('../imgs/view_collection.gif') no-repeat, url('../imgs/view_collection_o.gif') no-repeat;
		 background-position:0 0, 0 0;
		 -webkit-transition:background-position 1s;
	    -moz-transition:background-position 1s;
	    -o-transition:background-position 1s;
	    transition:background-position 1s;
    -moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select:none;
	outline: none;


}

.collection_link:hover{
	color:#855716;
	font-family: 'Poiret One', cursive;
	/* 	fallback for not support in multiple browsers */
	background-position: 0 0;
	/* end fallback */
	background-position: 462px 0, 0 0;

}
.price{
	margin: 0 0 20% 20%;
}

.price h5{
	margin:0 0 0 60px;
	text-align: center;
}
#whisky_bg{
	background: url('../imgs/section_bg.jpg') no-repeat ;


}
.last{
		background: rgb(249, 249, 249); /* The Fallback */
		background: rgba(249, 249, 249, 0.5);

}

/*  Contact Page and Thank_You Page Content
-------------------------------------------------------------- */
.contact{
	margin:0 0 10% 0;
	background: url('../imgs/contact_bg.gif') no-repeat;
}

.contact tr{
	margin: 0 0 2% 15%;
}

.contact label, .contact span{
	font-size: 0.8em;
}
.contact h6{
	margin: 0 0 12% 0;
}
.contact input, .contact textarea{
	font-size: 0.7em;
	line-height: 1.375em;
	font-weight: 100;
}

#submit, #reset{
	width: 60px;
	height: 30px;
	border: none;
	  -webkit-border-radius: 20px;
	  -moz-border-radius: 20px;
	  border-radius: 20px;
	background: #d9caac;

}
#submit:hover, #reset:hover{
	background: #f9f9f9;
	border: 1px #855716 solid;
}

input[type=checkbox] {
	visibility: hidden;
}

.checkbox{
	position: relative;
}
.checkbox label {
	cursor: pointer;
	position: absolute;
	width: 18px;
	height: 18px;
	margin-top: 7px;
	top: 0;
  	left: 0;
	background: #eee;
	border:1px solid #ddd;
}
/**
 * Display the tick inside the checkbox
 */
.checkbox label:after {
	opacity: 0;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 4px;
	left: 4px;
	border: 3px solid #855716;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
/**
 * Create the hover event of the tick
 */
.checkbox label:hover::after {
	opacity: 0;
}

/**
 * Create the checkbox state for the tick
 */
.checkbox input[type=checkbox]:checked + label:after {
	opacity: 1;
}
.checkbox span{
	margin:0 0 0 10px;
}
.thanks{
	text-align: center;
	margin: 0 0 5% 0 ;
}
.contact input, .contact textarea{
	  border:solid #d9caac 1px;
}
.contact input[type="text"]{
	color: #5f3e10;
}
.error_message{
	background: rgb(249, 249, 249); /* The Fallback */
	background: rgba(249, 249, 249, 0.8);
}

/*  Collection Page & Bottle Page
-------------------------------------------------------------- */
#toCart{
	font-family: 'Poiret One', cursive;
	width: 231px;
	height: 36px;
	text-align: center;
  	font-size: 1em;
	line-height: 1em;
	display: inline-block;
	padding-top: 6px;
	/* 	fallback for not support in multiple browsers */
	background: url('../imgs/view_collection.gif') no-repeat;
	/* end fallback */
	background: url('../imgs/view_collection.gif') no-repeat, url('../imgs/view_collection_o.gif') no-repeat;
		 background-position:0 0, 0 0;
		 -webkit-transition:background-position 1s;
	    -moz-transition:background-position 1s;
	    -o-transition:background-position 1s;
	    transition:background-position 1s;
    -moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select:none;
	outline: none;
	border: none;
	color:#f9f9f9;
}
#toCart:hover{
	color:#855716;
	font-family: 'Poiret One', cursive;
	/* 	fallback for not support in multiple browsers */
	background-position: 0 0;
	/* end fallback */
	background-position: 462px 0, 0 0;
}


.bottlePrice h5{
	margin: 0 0 0 70px;
}
.bottleDescription{
	text-align: center;
}
.collectionList{
	max-width: 100%;
}
.productsList{
	text-align: center;
}
.receipt a{
	color: #855715;
}
.receipt{
	text-align: center;
}
.pagination{
	margin: 5% 0 5% 0;
	text-align: center;
}
.pagination a{
	font-family: 'Helvetica Neue Light', sans-serif;
	width: 30px;
	height: 30px;
	text-align: center;
  	font-size: 1em;
	line-height: 1em;
	display: inline-block;
	padding-top: 6px;
	background: #855716;
    -moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select:none;
	outline: none;
	border: none;
	  -webkit-border-radius: 5px;
	  -moz-border-radius: 5px;
	  border-radius: 5px;
	color:#f9f9f9;

}
.pagination a:hover{
	font-family: 'Helvetica Neue Light', sans-serif;
	width: 30px;
	height: 30px;
	text-align: center;
  	font-size: 1em;
	line-height: 1em;
	display: inline-block;
	padding-top: 6px;
	background: #f9f9f9;
    -moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select:none;
	outline: none;
	border: #855716 1px solid;
	  -webkit-border-radius: 5px;
	  -moz-border-radius: 5px;
	  border-radius: 5px;
	color:#855716;

}
.pagination span{
	font-family: 'Helvetica Neue Light', sans-serif;
	width: 30px;
	height: 30px;
	text-align: center;
  	font-size: 1em;
	line-height: 1em;
	display: inline-block;
	padding-top: 6px;
	background: #f9f9f9;
    -moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select:none;
	outline: none;
	border: #855716 1px solid;
	  -webkit-border-radius: 5px;
	  -moz-border-radius: 5px;
	  border-radius: 5px;
	color:#855716;

}

#collection_title{
	text-align: center;
	margin-bottom: 1%;
}
.sort_border{
	position: relative;
	text-align: center;
}

.sort_border1{
	text-align: center;
	display: inline-block;
	padding-top: 6px;
    -moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select:none;
	outline: none;
	border: none;
	color:#f9f9f9;
	position: relative;
	-moz-animation:float_left 3s  ease-out forwards;
    -webkit-animation:float_left 3s  ease-out forwards;
	animation:float_left 3s  ease-out forwards;

}
.sort_border2{
	text-align: center;
	padding-top: 6px;
    -moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select:none;
	outline: none;
	border: none;
	color:#f9f9f9;
	position: relative;
	-moz-animation:float_right 3s  ease-out forwards;
    -webkit-animation:float_right 3s  ease-out forwards;
	animation:float_right 3s  ease-out forwards;
}

@-webkit-keyframes float_left {
   0% {
      	 left:0;
   }
   100% {
       left:-35%;
   }


}

@-moz-keyframes float_left {
   0% {
      	 left:0;
   }
   100% {
       left:-35%;
   }
}

@keyframes float_left {
   0% {
      	 left:0;
   }
   100% {
       left:-35%;
   }

}
@-webkit-keyframes float_right {
   0% {
      	 right:0;
   }
   100% {
       right:-35%;
   }
}

@-moz-keyframes float_right {
   0% {
      	 right:0;
   }
   100% {
       right:-35%;
   }
}

@keyframes float_right {
   0% {
      	 right:0;
   }
   100% {
       right:-35%;
   }
}
.sort {
	display: none;
	position: absolute;
	top:12%;
	left: 18%;
	text-align: center;
	-moz-animation:show_link 3s  ease-in forwards;
    -webkit-animation:show_link 3s  ease-in forwards;
	animation:show_link 3s ease-in forwards;
    opacity: 1;


}
@-webkit-keyframes show_link {
	from{ opacity: 0; }
	to  { opacity: 1;}
}
@-moz-keyframes show_link {
from{ opacity: 0; }
	to { opacity: 1; }
}

@keyframes show_link {
 from{ opacity: 0; }
	to { opacity: 1; }
}

.macallan{
    -moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select:none;
	outline: none;
	position: relative;
	cursor: pointer;
	margin-left: 1%;
}


.ardbeg{
	  text-align: center;
    -moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select:none;
	outline: none;
	position: relative;
	cursor: pointer;
	margin-left: 1%;

}


.bowmore{
    -moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select:none;
	outline: none;
	position: relative;
	cursor: pointer;
	margin-left: 1%;

}

.view_all{
    -moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select:none;
	outline: none;
	position: relative;
	cursor: pointer;
	margin-left: 1%;


}
.macallan .hover{
	position: absolute;
	top:0;
	left: 0;
	display: none;
	max-width: 100%;


}
.ardbeg .hover{
	position: absolute;
	top:0;
	left: 0;
	display: none;
	max-width: 100%;

}

.bowmore .hover{
	position: absolute;
	top:0;
	left: 0;
	display: none;
	max-width: 100%;

}

.view_all .hover{
	position: absolute;
	top:0;
	left: 0;
	display: none;
	max-width: 100%;


}

.image_map{
	position: absolute;
	top:6%;
	left:0;
	-moz-animation:show_link 8s  ease-in forwards;
    -webkit-animation:show_link 8s  ease-in forwards;
	animation:show_link 8s  ease-in forwards;
    opacity: 1;

}
#subtitle{
	text-align: center;
}

.thumbnails li{
	float: right;

}

.thumbnails li button{
	height: auto;
	width: auto;
	border: #855716 1px solid;
	  -webkit-border-radius: 10px;
	  -moz-border-radius: 10px;
	  border-radius: 10px;
	  margin: 2%;
	 max-width: 100%;
	 background: none;

}
.thumbnails li .active_tmb{
	border: #855716 2px solid;

}

.thumbnails li button:hover{
	border: #855716 2px solid;
}
.bottleImage{
	margin-bottom: 15%;
	position: relative;
}


 .bottleImage #productBottle2, .bottleImage #productBottle3, .bottleImage #productBottle4{
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	max-width: 100%;
}


/*  Search Page
-------------------------------------------------------------- */
.search{
	text-align: center;

}
.search input{
	border:solid #d9caac 1px;
	outline: 0;
	margin-bottom: 5%;
}
.search input[type="text"]{
	color: #5f3e10;
	font-weight: 100;
}
input[type="submit"]{
	color: #5f3e10;
	font-weight: 100;
}


/*  Flash Page
-------------------------------------------------------------- */
.flashPage{
	text-align: center;
}

/* Disclaimer Page
---------------------------------------------------------------*/
.disclaimer h1{
	text-align: center;
}
.disclaimer p{
	text-indent:40px
}

/* About Page
---------------------------------------------------------------*/
.about h1{
	text-align: center;
}
.about p{
	text-indent:40px
}




/*------------FOOTER-------------------*/

.social li a div{
	width: 40px;
	height: 40px;
	background: #855716 url('../imgs/over1.gif') no-repeat;
	 background-position:0 -40px;
	/* 		  background-clip:border-box; */
	 -webkit-transition:background-position 1s;
    -moz-transition:background-position 1s;
    -o-transition:background-position 1s;
    transition:background-position 1s;
	  -webkit-border-radius: 20px;
	  -moz-border-radius: 20px;
	  border-radius: 20px;
	  display: inline-block;
	float:left;
	margin: 2%;
	padding: 9px 0 0 0;
	font-size:1em;
	color: #f9f9f9;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select:none;
	outline: none;
	text-align: center;

}
.social li a div:hover{
	color:#855716;
	background-position:0 0px;
}

.terms p, .terms a{
	color: #855716;
	float: right;
}
.terms .active{
 	font-family: 'Helvetica Neue Light', sans-serif;
	color: #855716;
}

.footer_bg{
	width:100%;
	height: 122px;
	background: #855716 url('../imgs/header_bg.jpg') repeat-x top left;
	padding: 0;
	margin: 0;
}
.footer{
	margin-bottom: 15px;
}

.flashContent{
	text-align: center;
}
#flashContent object{
	width: 960px;
	height: 466px;
}
	#photoShow {
		text-align: center;
    	width:100%;
    	padding: 0 0 55% 0;
    	margin: auto;

	}
	#photoShow div {
    	position:absolute;
    	z-index: 0;
	}
	#photoShow div.previous {
    	z-index: 1;
	}
	#photoShow div.current {
    	z-index: 2;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select:none;
	}


/*-------- Media Queries -----------*/


@media screen and (max-width: 1024px){
			 .whiskyIntro .medium,  .whiskyIntro .small, .whiskyIntro .hd{
				display: none;
				}

			  .specialSale .medium,  .specialSale .small, .specialSale .hd{
				display: none;
				}


			.horisontalNav ul{
				position: relative;
				top:-105px;
				left:4%;
			}
			.horisontalNav ul li:nth-child(3) {
				width: 44%;
			}
			#logo{
				max-width: 35%;
			}

			.slider{
				top:-100px;
			}

			.whiskyIntro{
				background: url('../imgs/slider1.jpg') no-repeat;
				-webkit-background-size: contain;
				 -moz-background-size:contain;
				 -o-background-size: contain;
				 background-size: contain;

			}
			.specialSale{
				background:  url('../imgs/slider2.jpg') no-repeat;
				 -webkit-background-size: contain;
				 -moz-background-size: contain;
				 -o-background-size:  contain;
				 background-size: contain;
			}

			.specialSale2{
				background:  url('../imgs/slide3.jpg') no-repeat;
				 -webkit-background-size: contain;
				 -moz-background-size: contain;
				 -o-background-size:  contain;
				 background-size: contain;
			}


			.whiskyIntro img{
			top:0;
			left:8%;
			}

		.specialSale img{
			position: absolute;
			top:-2%;
			left:10%;
		}

		 .specialSale2 img{
			 position: absolute;
			top:-2%;
			left:4%;
		 }

 	      .view_collection{
			top:2%;
			left: 15%;
			}

			.sliderPagination {
				bottom: 10%;
				left: 47%;
				}

			.whiskyIntro h1, .specialSale h1, .specialSale2 h1 {
				font-size: 2.25em;

			}
			.whiskyIntro h3, .specialSale h3, .specialSale2 h3{
				font-size: 1.625em;
			}

			.specialSale h1, .specialSale h3{
				margin-left: 30%;
			}
			.specialSale2 h1, .specialSale2 h3{
				margin-left: 30%;
			}
			#productNew{
				max-width: 130%;
				margin: 0 0 0 -5%;
			}
			.price{
				margin: 10% 0 20% 0;
			}
			/*------Video ----------*/
			#video-container{
				display: block;
				text-align: center;
				margin: -100px 0 120px 0;
				background: none;
			}
			#video-m{
				width: 100%;
				height: 100%;
				-webkit-box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.5);
				-moz-box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.5);
				box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.5);
				background: none;
			}

			#video-container-s, #video-container-m{
				display: none;
			}
			.mov_bg{
				background: none;
				height: 540px;
			}
			.devider{
				padding: 0;
				margin: 40px 0 0 0;
			}


}
@media
 screen and (-webkit-min-device-pixel-ratio: 2),
 screen and (        min-device-pixel-ratio: 2),
 screen and (                min-resolution: 192dpi){


 	.whiskyIntro{
				background: url('../imgs/slider1.jpg') no-repeat;
				-webkit-background-size: cover;
				 -moz-background-size:cover;
				 -o-background-size: cover;
				 background-size: cover;

			}
			.specialSale{
				background:  url('../imgs/slider2.jpg') no-repeat;
				 -webkit-background-size: cover;
				 -moz-background-size: cover;
				 -o-background-size:  cover;
				 background-size: cover;
			}

			.specialSale2{
				background:  url('../imgs/slide3.jpg') no-repeat;
				 -webkit-background-size: cover;
				 -moz-background-size: cover;
				 -o-background-size:  cover;
				 background-size: cover;
			}
				/*------Video ----------*/
			.mov_bg{
				width: 100%;
				height: 540px;
				position: relative;
				 margin: auto;
				 padding: 0;
				 z-index: 20;

			}
			#video-container{
				display: block;
				text-align: center;
				margin-bottom: 120px;
				margin-top: -110px;
				background: url('../imgs/mov_bg1.jpg') repeat-x top left;
				-webkit-background-size: contain;
				 -moz-background-size: contain;
				 -o-background-size:  contain;
				 background-size: contain;

			}
			#video{
				width: 100%;
				height: 100%;
				margin: 0;
				-webkit-box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.5);
				-moz-box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.5);
				box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.5);


			}
			#video-container-s, #video-container-m{
				display: none;
			}
			.devider{
				padding:250px 0 50px 0;
			}


}


@media screen and (max-width: 936px){

		.horisontalNav{
			display: none;
		}

		#slideLeft, .menu{
			display: block;
		}

		/* Vertical menu that slides from the left or right */

		.menu.openMenu {
			left: 0;
		}


		/* Push classes applied to the body */

		.pushMenu {
			overflow-x: hidden;
			position: relative;
			top: 0;
			left: 0;
			-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			transition: all 0.3s ease;
		}

		.rightPush {
			left: 30%;
		}
		.menu{
			-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			transition: all 0.3s ease;
			text-transform: uppercase;
			-moz-user-select: none;
			-webkit-user-select: none;
			-ms-user-select:none;
			cursor: pointer;
			outline: none;
			width: 30%;
			height: 100%;
			overflow: auto;

			/* FOR TOGGLE EFFECT */
			position: fixed;
			top:0;
			left: -100%;
		}

		/*  Styling */
		#slideLeft{
			width: 100px;
			height: 30px;
			border: none;
			position: absolute;
			top: 0;
			left: 0;
			font-size: 0.9em;
			color: #4c1106;
			 background: rgb(249, 249, 249); /* The Fallback */
			  background: rgba(249, 249, 249, 0.8);
		  	  -webkit-border-radius: 5px;
			  -moz-border-radius: 5px;
			  border-radius: 5px;
  			-moz-user-select: none;
			-webkit-user-select: none;
			-ms-user-select:none;
			cursor: pointer;
			outline: none;
			z-index: 100;

		}

		.menu ul li a{
			color: #855716;
		}
		.menu ul li{
			clear: both;
			text-align: center;
			font-size: 1.2em;
			line-height: 2.5em;
			font-weight: bold;
		}

		.menu ul li[class~="active"]{
			background: rgb(160, 102, 73); /* The Fallback */
			background: rgba(160, 102, 73, 0.5);
		}
		#logo{
		max-width: 35%;
		}

		.menu ul li	.svg_link{
			color: #855716;
			-moz-user-select: none;
			-webkit-user-select: none;
			-ms-user-select:none;
			outline: none;
			padding: 10px;
		}
		.menu ul li .svg_link:hover{
			color: #4c1106;
			-moz-user-select: none;
			-webkit-user-select: none;
			-ms-user-select:none;
			outline: none;
			}
		.menu ul li .active{
			background: rgb(160, 102, 73); /* The Fallback */
			background: rgba(160, 102, 73, 0.5);
			color: #4c1106;
			-moz-user-select: none;
			-webkit-user-select: none;
			-ms-user-select:none;
			outline: none
			}


		.slider{
			top:-80px;
		}
		.sliderPagination {
		bottom: 22%;
		left: 46%;
		}

		h2{
			font-size: 2.5em;
		}
		h4{
			font-size: 1.75em;
		}
		h5{
			font-size: 1.75em;
		}
		.sort{
			display: block;
		}
		#image_map, .image_map, #imgMap{
			display: none;
		}
		/*------Video ----------*/
		#video-container-m{
			display: block;
			text-align: center;
			margin: -120px 0 0 0;
		}
		#video-m{
			width: 100%;
			height: 100%;
			-webkit-box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.5);
			-moz-box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.5);
			box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.5);
			background: none;
		}

		#video-container-s, #video-container{
			display: none;
		}
		.mov_bg{
			height: 405px;
		}
		.devider{
			padding: 0;
			margin: 140px 0 0 0;
		}




}

@media screen and (max-width: 768px){

		header{
				background: url('../imgs/header_bg_small.jpg') no-repeat;
				 -webkit-background-size: contain;
				 -moz-background-size: contain;
				 -o-background-size: contain;
				 background-size: contain;
		}

		.whiskyIntro .medium, .specialSale .medium, .specialSale2 .medium{
			display: block;
		}
		.whiskyIntro .large, .whiskyIntro .small,  .whiskyIntro .hd{
			display: none;
		}

		 .specialSale .large,  .specialSale .small, .specialSale .hd{
			display: none;
		}

		 .specialSale2 .large,  .specialSale2 .small,  .specialSale2 .hd{
			display: none;
		}


		.horisontalNav{
			display: none;
		}

		#slideLeft, .menu{
			display: block;
		}


		#whisky_bg{
			background: url('../imgs/section_bg2.jpg') no-repeat;
				 -webkit-background-size: contain;
				 -moz-background-size: contain;
				 -o-background-size: contain;
				 background-size: contain;

		}

		/* Vertical menu that slides from the left or right */

		.menu.openMenu {
			left: 0;
		}


		/* Push classes applied to the body */

		.pushMenu {
			overflow-x: hidden;
			position: relative;
			top: 0;
			left: 0;
			-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			transition: all 0.3s ease;
		}

		.rightPush {
			left: 30%;
		}
		.menu{
			-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			transition: all 0.3s ease;
			text-transform: uppercase;
			-moz-user-select: none;
			-webkit-user-select: none;
			-ms-user-select:none;
			cursor: pointer;
			outline: none;
			width: 30%;
			height: 100%;
			overflow: auto;

			/* FOR TOGGLE EFFECT */
			position: fixed;
			top:0;
			left: -100%;
		}

		/*  Styling */
		#slideLeft{
			width: 100px;
			height: 30px;
			border: none;
			position: absolute;
			top: 0;
			left: 0;
			font-size: 0.9em;
			color: #4c1106;
			 background: rgb(249, 249, 249); /* The Fallback */
			  background: rgba(249, 249, 249, 0.8);
		  	  -webkit-border-radius: 5px;
			  -moz-border-radius: 5px;
			  border-radius: 5px;
  			-moz-user-select: none;
			-webkit-user-select: none;
			-ms-user-select:none;
			cursor: pointer;
			outline: none;
			z-index: 100;

		}

		.menu ul li a{
			color: #855716;
		}
		.menu ul li{
			clear: both;
			text-align: center;
			font-size: 1.2em;
			line-height: 2.5em;
			font-weight: bold;
		}

		.menu ul li[class~="active"]{
			background: rgb(160, 102, 73); /* The Fallback */
			background: rgba(160, 102, 73, 0.5);
		}
		#logo{
		max-width: 35%;
		}

		.menu ul li	.svg_link{
			color: #855716;
			-moz-user-select: none;
			-webkit-user-select: none;
			-ms-user-select:none;
			outline: none;
			padding: 10px;
		}
		.menu ul li .svg_link:hover{
			color: #4c1106;
			-moz-user-select: none;
			-webkit-user-select: none;
			-ms-user-select:none;
			outline: none;
			}
		.menu ul li .active{
			background: rgb(160, 102, 73); /* The Fallback */
			background: rgba(160, 102, 73, 0.5);
			color: #4c1106;
			-moz-user-select: none;
			-webkit-user-select: none;
			-ms-user-select:none;
			outline: none
			}

			.slider{
				top:-50px;
			}

			.whiskyIntro{
				background: url('../imgs/slider1_m.jpg') no-repeat;
				-webkit-background-size: contain;
				 -moz-background-size:contain;
				 -o-background-size: contain;
				 background-size: contain;

			}

			.specialSale{
				background:  url('../imgs/slider2_m.jpg') no-repeat;
				 -webkit-background-size: contain;
				 -moz-background-size: contain;
				 -o-background-size:  contain;
				 background-size: contain;
			}
			.specialSale2{
				background:  url('../imgs/slide3_m.jpg') no-repeat;
				 -webkit-background-size: contain;
				 -moz-background-size: contain;
				 -o-background-size:  contain;
				 background-size: contain;
			}

			.whiskyIntro img{
				top:0;
				left:8%;
			}

			.specialSale img{
				position: absolute;
				top:-3%;
				left:10%;
			}

			 .specialSale2 img{
				 position: absolute;
				top:-3%;
				left:4%;
			 }

			 .view_collection{
				top:2%;
				left: 17%;
				}

			.specialSale h1, .specialSale h3{
				margin-left: 40%;

			}
			.specialSale2 h1, .specialSale2 h3{
				margin-left: 40%;
			}
			.whiskyIntro h1, .specialSale h1, .specialSale2 h1 {
				font-size: 2em;

			}
			.whiskyIntro h3, .specialSale h3, .specialSale2 h3{
				font-size: 1.5em;
			}

			.sliderPagination {
			bottom:15%;

			}
			.sliderPrev, .sliderNext {
				top:75%;
			}

			.description{
				margin: -20% 0 0 25%;
			}
			.product{
				margin: 0 0 0 25%;
			}


			.terms p, .terms a {
				font-size: 0.875em;
				line-height: 1em;
			}
			.contact{
				background: url('../imgs/contact_bg_m.gif') no-repeat;
			}

			.collection li{
				clear: both;
			}
			.bottleDescription{
				text-align: center;
				margin: 0 0 0 25%;
			}
			.bottleImage div{
			width: 100%;
			margin: 0 0 0 8%;
			}
			.bottleImage{
			width: 80%;
			margin: 0 0 0 4%;
			}
			.bottlePrice{
				margin: 0 0 0 10%;
			}
			#productNew{
				max-width: 160%;
				margin: -10% 0 0 -30%;
			}
			#productLast{
			    max-width: 160%;
				 margin: 0 0 0 -25%;
				 padding: 0 0 80px;
			}
			.price{
				margin: 10% 0 20% 0;
			}
			.collectionList{
				max-width: 300%;
			}
			.collectionList{
				text-align: center;
			}
			.collection{
				margin: 0 0 0 10%;
				text-align: center;
			}
			.collectionListDevider{
				max-width: 300%;
			}
			/*------Video ----------*/
			.mov_bg{
				height: 405px;
			}
			#video-container-m{
				display: block;
				text-align: center;
				margin: -60px 0 180px 0;
			}
			#video-s{
				width: 100%;
				height: 100%;
				-webkit-box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.5);
				-moz-box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.5);
				box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.5);

			}

			#video-container-s, #video-container{
				display: none;
			}
			.devider{
				padding: 10px 0 150px 0;
				margin: 90px 0 0 0;
			}




}
@media screen and (max-width: 640px){
			.specialSale .view_collection, .specialSale2 .view_collection {
			top: 2%;
			}
			.specialSale h1, .specialSale2 h1{
			font-size: 1.75em;
			}
			.whiskyIntro img{
			top:0;
			left:6%;
			}
			/*------Video ----------*/
			.mov_bg{
				height: 270px;
			}
			#video-container-s{
				display: block;
				text-align: center;
				margin: -60px 0 0 0;
			}
			#video-s{
				width: 100%;
				height: 100%;
				-webkit-box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.5);
				-moz-box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.5);
				box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.5);

			}

			#video-container-m, #video-container{
				display: none;
			}
			.devider{
				margin: 150px 0 0 0;
			}

}

@media screen and (max-width: 568px){


		#slideLeft{
		font-size: 0.9em;
		}
		.menu{
		font-size: 0.8em;
		line-height: 1em;
		}
		#logo{
		max-width:45%;
		}

		.whiskyIntro img{
			top:0;
			left:6%;
		}
		.slider{
			top: -70px;
		}
		.specialSale img{
			position: absolute;
			top:-2%;
			left:10%;
		}

		 .specialSale2 img{
			 position: absolute;
			top:-2%;
			left:4%;
		 }

 		.specialSale .view_collection, .specialSale2 .view_collection{
			top:2%;
			}


		.whiskyIntro h1, .specialSale h1, .specialSale2 h1{
			font-size: 1.5em;

		}
		.whiskyIntro h3, .specialSale h3, .specialSale2 h3{
			font-size: 1.275em;
		}

		.sliderPagination {
			top:60%;
		}
		.sliderPrev, .sliderNext {
		top:57%;
		}


		.description{
			margin: -40% 0 0 25%;
		}

		.price{
			clear: both;
			margin: 20% 0 20% 0;
		}
		.terms p, .terms a {
			font-size: 0.7em;
			line-height:1em;
			margin: 0;
		}

		.bottleDescription{
			text-align: center;
			margin: 0 0 0 25%;
		}
		.bottleImage{
			width: 80%;
			margin: 0 0 0 7%;
		}
		.bottlePrice{
			margin: 0 0 0 -10%;
		}
		#productNew{
			max-width: 150%;
			margin: 0 0 0 -30%;
		}
		#productLast{
			max-width: 150%;
			margin: -40% 0 0 -30%;
			padding: 0 0 120px 0;
		}

		.price{
			margin: 10% 0 20% -10%;
		}
		.collectionList{
			max-width: 300%;
		}
		.collectionList{
			text-align: center;
		}
		.collection{
			margin: 0 0 0 10%;
			text-align: center;
		}
		/*------Video ----------*/
			#video-container-s{
				display: block;
				text-align: center;
				margin: -200px 0 260px 0;
			}
			#video-s{
				width: 100%;
				height: 100%;
				-webkit-box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.5);
				-moz-box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.5);
				box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.5);

			}

			#video-container-m, #video-container{
				display: none;
			}
			.devider{
				padding: 10px 0 250px 0;
				margin: 120px 0 0 0;
			}



}

@media screen and (max-width: 480px){

		.whiskyIntro .large, .whiskyIntro .medium,   .whiskyIntro .hd{
			display: none;
		}

		 .specialSale .large,  .specialSale .medium,  .specialSale .hd{
			display: none;
		}


		 .specialSale2 .large,  .specialSale2 .medium,  .specialSale2 .hd{
			display: none;
		}


		.whiskyIntro .small, .specialSale .small, .specialSale2 .small{
			display: block;
		}

	#slideLeft{
		font-size: 0.7em;

		}
	.menu{
		font-size: 0.7em;
		line-height: 0.8em;
		}
	#logo{
		max-width: 35%;
	}
		.slider{
			top:-30px;
		}
		.whiskyIntro{
				background: url('../imgs/slider1_s.jpg') no-repeat;
					-webkit-background-size: contain;
				 -moz-background-size:contain;
				 -o-background-size: contain;
				 background-size: contain;

		}
		.specialSale{
				background:  url('../imgs/slider2_s.jpg') no-repeat;
				 -webkit-background-size: contain;
				 -moz-background-size: contain;
				 -o-background-size:  contain;
				 background-size: contain;
			}

		.specialSale2{
			background:  url('../imgs/slide3_s.jpg') no-repeat;
			 -webkit-background-size: contain;
			 -moz-background-size: contain;
			 -o-background-size:  contain;
			 background-size: contain;
		}

		.whiskyIntro img{
				top:0;
				left:5%;
			}

				.specialSale img{
			position: absolute;
			top:-2%;
			left:10%;
		}

		 .specialSale2 img{
			 position: absolute;
			top:-2%;
			left:4%;
		 }
		.whiskyIntro h1, .specialSale h1, .specialSale2 h1{
			margin-top: 10%;
			font-size: 1em;

		}
		.whiskyIntro h3, .specialSale h3, .specialSale2 h3{
			font-size: 0.75em;
		}



		.specialSale .view_collection, .specialSale2 .view_collection{
			top:10%;
			left: 4%;
			}

		.sliderPagination {
			top:55%;
		}
		.sliderPrev, .sliderNext {
		top:53%;
		}
		.description{
			margin: -55% 0 0 25%;
		}

		h2{
			font-size: 1.75em;
		}
		h4{
			font-size: 1.25em;
		}
		p{
			font-size: 1em;
		}

		h5{
			font-size: 1.5em;
		}

		.terms p, .terms a{
			font-size: 0.5em;
			line-height: 1em;
		}
		.contact tr{
			margin: 0 0 2% 0;
		}
		.contact h1{
			font-size: 1.75em;
		}

		.contact{
		background: url('../imgs/contact_bg_s.gif') no-repeat;
	    }

		#productNew{
			max-width: 150%;
			margin: 0 0 0 -30%;
		}

		#productLast{
			padding: 0 0 180px 0;
		}
		.price{
			margin: 10% 0 20% -20%;
		}
		.bottleImage{
			width: 80%;
			margin: 0 0 0 6%;
		}
				/*------Video ----------*/
			.mov_bg{
				height: 100%;
			}
			#video-container-s{
				display: block;
				text-align: center;
				margin: -200px 0 60px 0;


			}
			#video-s{
				width: 100%;
				padding:0;
			}

			#video-container-m, #video-container{
				display: none;
			}
			.devider{
				padding: 10px 0 250px 0;
				margin: 30px 0 0 0;
			}
			#flashContent object{
			width: 440px;
			height: 300px;
			}



}


@media screen and (max-width: 320px){
		header{
				background: #f9f9f9 url('../imgs/header_bg_xsmall.jpg') no-repeat;
		}

		#slideLeft{
		font-size: 0.925em;
		line-height: 1.5em;
		left: -10px;
		}
		.menu{
			font-size: 0.6em;
			line-height: 0.8em;

		}
		#logo{
		max-width:45%;
		}

		.whiskyIntro{
				background: url('../imgs/slider1_xs.jpg') no-repeat;
					-webkit-background-size: contain;
				 -moz-background-size:contain;
				 -o-background-size: contain;
				 background-size: contain;

		}
		.specialSale{
				background:  url('../imgs/slider2_xs.jpg') no-repeat;
				 -webkit-background-size: contain;
				 -moz-background-size: contain;
				 -o-background-size:  contain;
				 background-size: contain;
			}

		.specialSale2{
			background:  url('../imgs/slide3_xs.jpg') no-repeat;
			 -webkit-background-size: contain;
			 -moz-background-size: contain;
			 -o-background-size:  contain;
			 background-size: contain;
		}

		.whiskyIntro img{
				top:0;
				left:4%;
			}


		.whiskyIntro h1, .specialSale h1, .specialSale2 h1{
			margin-top: 10%;
			font-size: 1em;

		}
		.whiskyIntro h3, .specialSale h3, .specialSale2 h3{
			font-size: 0.5em;
		}


		.specialSale .view_collection, .specialSale2 .view_collection{
			top: 5%;
			left:3%;

		}


		.specialSale img{
			position: absolute;
			top:-2%;
			left:10%;
		}

		 .specialSale2 img{
			 position: absolute;
			top:-2%;
			left:4%;
		 }

		.sliderPagination {
			top:38%;
		}
		.sliderPrev, .sliderNext {
			top:35%;
		}

		.description{
			margin: -110% 0 0 25%;
		}

		p{
			font-size: 0.85em;
			line-height: 1.275em;
		}
		h4{
			font-size: 1em;
			line-height: 1.275em;
		}
		h5{
			font-size: 1.275em;
		}
		h2{
			line-height: 1em;
		}


		.contact label{
			font-size: 0.5em;
			line-height: 0.5em;
		}
		.breadcrumb{
			margin: 0 0 0 0;
		}
		.bottleDescription{
			text-align: center;
			margin: 0 0 0 25%;
		}
		.bottleImage{
			width: 80%;
			margin: 0 0 0 6%;
		}
		.bottlePrice{
			margin: 0 0 4% -35%;
		}
		#productLast{
			padding: 0 0 290px 0;
		}
		.collection_link{
			margin: 0 0 0 -50%;
		}
		.sort{
			top:18%;
		}
		#video-container-s{
			margin: -300px 0 0 0;
		}
		.devider{
			padding: 0 0 350px 0;
			margin: 90px 0 0 0;
		}
		#flashContent object{
			width: 270px;
			height: 250px;
		}



}
@media
screen and (-webkit-min-device-pixel-ratio: 1.5) and (max-width: 1024px),
screen and (        min-device-pixel-ratio: 1.5) and (max-width: 1024px),
screen and (             min-resolution: 144dpi) and (max-width: 1024px){


	header {
		background-image: url('../imgs/header_bg.jpg');
	}


	.whiskyIntro{
				background: url('../imgs/slider1.jpg') no-repeat;
					-webkit-background-size: contain;
				 -moz-background-size:contain;
				 -o-background-size: contain;
				 background-size: contain;

	}
	.specialSale{
		background:  url('../imgs/slider2.jpg') no-repeat;
		 -webkit-background-size: contain;
		 -moz-background-size: contain;
		 -o-background-size:  contain;
		 background-size: contain;
	}

	.specialSale2{
		background:  url('../imgs/slide3.jpg') no-repeat;
		 -webkit-background-size: contain;
		 -moz-background-size: contain;
		 -o-background-size:  contain;
		 background-size: contain;
	}

	.contact{
		background: url('../imgs/contact_bg.gif') no-repeat;
	}


			#logo{
		max-width:35%;
		}

		.whiskyIntro .hd, .whiskyIntro .medium,   .whiskyIntro .small{
			display: none;
		}

		 .specialSale .large,  .specialSale .medium,  .specialSale .small{
			display: none;
		}


		 .specialSale2 .large,  .specialSale2 .medium,  .specialSale2 .small{
			display: none;
		}


		.whiskyIntro .large, .specialSale .hd, .specialSale2 .hd{
			display: block;
		}
		.slider{
			top:-102px;
		}
		.whiskyIntro img{
				top:0;
				left:4%;
			}

			/*------Video ----------*/
			.mov_bg{
				width: 100%;
				height: 540px;
				position: relative;
				 margin: auto;
				 padding: 0;
				 z-index: 20;

			}
			#video-container{
				display: block;
				text-align: center;
				margin-bottom: 120px;
				margin-top: -110px;
				background: url('../imgs/mov_bg1.jpg') repeat-x top left;
				-webkit-background-size: contain;
				 -moz-background-size: contain;
				 -o-background-size:  contain;
				 background-size: contain;

			}
			#video{
				width: 100%;
				height: 100%;
				margin: 0;
				-webkit-box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.5);
				-moz-box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.5);
				box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.5);


			}
			#video-container-s, #video-container-m{
				display: none;
			}

			/*------- Devider ------*/

			.devider{
			margin: 40px 0 0 0;

			}


}
@media
 screen and (-webkit-min-device-pixel-ratio: 1.5)      and (max-width: 936),
 screen and (        min-device-pixel-ratio: 1.5)      and (max-width: 936px),
 screen and (                min-resolution: 144dpi) and (max-width: 936px){

 	.slider{
	 	top: -50px;
 	}

 }


@media
 screen and (-webkit-min-device-pixel-ratio: 1.5)      and (max-width: 768px),
 screen and (        min-device-pixel-ratio: 1.5)      and (max-width: 768px),
 screen and (                min-resolution: 144dpi) and (max-width: 768px){

 	.slider{
	 	top: -50px;
 	}
	.devider{
		margin: 40px 0 0 0;
	}
	.mov_bg{
		height: 405px;
		background: none;
	}

 }


@media
 screen and (-webkit-min-device-pixel-ratio: 1.5)      and (max-width: 480px),
 screen and (        min-device-pixel-ratio: 1.5)      and (max-width: 480px),
 screen and (                min-resolution: 144dpi) and (max-width: 480px){

			.slider{
				top:-32px;
			}

			.specialSale .view_collection, .specialSale2 .view_collection{
			top: 5%;
			left:16%;

			}
						/*------Video ----------*/
			#video-container-s{
				display: block;
				text-align: center;
				margin: -200px 0 0 0;
			}
			#video-s{
				width: 100%;
				height: 100%;
				-webkit-box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.5);
				-moz-box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.5);
				box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.5);
			}

			#video-container-m, #video-container{
				display: none;
			}

			.devider{
				margin: 0;
			}
			.mov_bg{
			height: 270px;
			}


 }@media
 screen and (-webkit-min-device-pixel-ratio: 1.5)      and (max-width: 320px),
 screen and (        min-device-pixel-ratio: 1.5)      and (max-width: 320px),
 screen and (                min-resolution: 144dpi) and (max-width: 320px){

  	header {
		background-image: url('../imgs/header_bg_xsmallx2.jpg');
	}

		.whiskyIntro{
				background: url('../imgs/slider1_xsx2.jpg') no-repeat;
					-webkit-background-size: contain;
				 -moz-background-size:contain;
				 -o-background-size: contain;
				 background-size: contain;

	}
	.specialSale{
		background:   url('../imgs/slider2_xsx2.jpg') no-repeat;
		 -webkit-background-size: contain;
		 -moz-background-size: contain;
		 -o-background-size:  contain;
		 background-size: contain;
	}

		.specialSale2{
		background:  url('../imgs/slide3_xsx2.jpg') no-repeat;
		 -webkit-background-size: contain;
		 -moz-background-size: contain;
		 -o-background-size:  contain;
		 background-size: contain;
	}

	    .whiskyIntro .small{
	display: none;
	}

	.whiskyIntro .hd, .specialSale .hd, .specialSale2 .hd{
		display: block;
	}

	.specialSale .small, .specialSale2 .small{
		display: none;
	}


	.contact{
		background: url('../imgs/contact_bg_xsx2.png') no-repeat;
	}
		.slider{
		top:0;
		margin-bottom: 20px;
	}

		.specialSale .view_collection, .specialSale2 .view_collection{
		top: 26px;
		left:8px;

		}
			#video-container-s{
		margin: -300px 0 0 0;
		}
		.devider{
			margin:0;
		}
		.mov_bg{
		height: 270px;
		}

}
