/*
#video-controls{
	margin: -15px 0 0 0;
	display: block;

}
*/
#video-container{
	text-align: center;
	margin-bottom: 120px;
	margin-top: -100px;
		/* background: rgb(138, 87, 22);  *//* The Fallback */ 
/*
		background: rgba(138, 87, 22, 0.5); 
	  -webkit-border-radius: 30px; 
	  -moz-border-radius: 30px; 
	  border-radius: 30px; 

*/
}
/*
#video{
	padding: 25px 0 15px 0;
}
*/
/*



#video-controls button{
	background: none;
	border: none;
	outline: 0;
	-moz-user-select: none; 
	-webkit-user-select: none; 
	-ms-user-select:none; 
	user-select:none;
	outline: none;

	
}
*/
